<header>
    <nav>
        <ul>
            <li><a routerLink="\Search" href="\Search">Search</a></li>
            <li><a routerLink="\pledge" href="\pledge">Pledge Bill</a></li>
            <li><a routerLink="\redeem" href="\redeem">Redeem Bill</a></li>
            <li><a routerLink="\print" href="\print">Print</a></li>
            <li><a routerLink="\ledger" href="\ledger">Ledger</a></li>
            <li><a routerLink="\setting" href="\setting">Settings</a></li>
            <li><a routerLink="\logout" href="\logout">Logout</a></li>
        </ul>
    </nav>
</header>