/* Footer styling */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
  width: 100%;
}

  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    header {
      padding: 1rem; /* Adjust padding for smaller screens */
    }
  
    .hero-content {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    footer {
      padding: 1rem 0; /* Adjust padding for smaller screens */
    }
  }
  